*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.aBlue:hover, .aBlue:active { color: #0073e6 !important; }

.btn-blue { color: white; background-color: #0073e6; border-color: #0073e6; }
.btn-blue:hover { color: #fff; background-color: #006ac2; border-color: #2e80fc; }

.btn-check:focus + .btn-blue, .btn-blue:focus { color: #fff; background-color: #006ac2; border-color: #2e80fc; -webkit-box-shadow: 0 0 0 0.15rem rgba(0, 115, 230, 0.5); box-shadow: 0 0 0 0.15rem rgba(0, 115, 230, 0.5); }

.btn-check:checked + .btn-blue, .btn-check:active + .btn-blue { color: #fff; background-color: #2e80fc; border-color: #5c538f; }

.btn-blue:active, .btn-blue.active { color: #fff; background-color: #2e80fc; border-color: #5c538f; }

.show > .btn-blue.dropdown-toggle { color: #fff; background-color: #2e80fc; border-color: #5c538f; }

.btn-check:checked + .btn-blue:focus, .btn-check:active + .btn-blue:focus { -webkit-box-shadow: 0 0 0 0.15rem rgba(0, 115, 230, 0.5); box-shadow: 0 0 0 0.15rem rgba(0, 115, 230, 0.5); }

.btn-blue:active:focus, .btn-blue.active:focus { -webkit-box-shadow: 0 0 0 0.15rem rgba(0, 115, 230, 0.5); box-shadow: 0 0 0 0.15rem rgba(0, 115, 230, 0.5); }

.show > .btn-blue.dropdown-toggle:focus { -webkit-box-shadow: 0 0 0 0.15rem rgba(0, 115, 230, 0.5); box-shadow: 0 0 0 0.15rem rgba(0, 115, 230, 0.5); }

.btn-blue:disabled, .btn-blue.disabled { color: #fff; background-color: #0073e6; border-color: #0073e6; }

.menuList { width: calc(100% / 5); color: white; float: left; }

.nav-link { color: white !important; font-weight: 500; text-align: center; }
