@import "bootstrap/bootstrap";
@import "Ginkgo";


.icon-menu01:before { font-size: 2.2rem; }
.icon-menu02:before { font-size: 2.2rem; }
.icon-menu03:before { font-size: 2.2rem; }
.icon-menu04:before { font-size: 2.2rem; }
.icon-menu05:before { font-size: 2.2rem; }
.icon-menu06:before { font-size: 2.2rem; }
.icon-menu07:before { font-size: 2.2rem; }
.icon-menu08:before { font-size: 2.2rem; }
.icon-menu09:before { font-size: 2.2rem; }
.icon-menu10:before { font-size: 2.2rem; }
.icon-menu11:before { font-size: 2.2rem; }
.icon-menu12:before { font-size: 2.2rem; }
.icon-menu13:before { font-size: 2.2rem; }


html {
  font-size: 16px;
}

body {
  font-weight: 500;
  font-family:'Roboto', 'Noto Sans TC', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  background-color: #e2f0f7;
}


// color
.businessBg {
  background-color: #e2f0f7;
}

.proBg {
  background-color: $gray-200;
  @include border-radius(40px);
}



// boot
.breadcrumb {
  background-color: transparent;
  padding: 0;
}



// block
.bg-blue {
  background-color: #dae8f0;
  @include border-radius(40px);
  padding: 20px;
}



// boxs
.boxs4 {
  display: inline-block;
  float: left;
  width: calc(100% / 4);
  text-align: center;
}

.bigBoxsCent {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centBoxsB {
  display: inline-block;
  width: 100%;
  @include border-radius(20px);
  background-color: white;
  padding: 20px;
  @include box-shadow(0px 7px 29px 0px rgba(100, 100, 111, 0.2));
}

.fullBoxs {
  display: inline-block;
  width: 100%;
}

.boxs680 {
  // display: inline-block;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
}

.boxs915 {
  // display: inline-block;
  width: 100%;
  max-width: 915px;
  margin: 0 auto;
}


.boxs15, .boxs85 {
  display: inline-block;
  float: left;
}

.boxs15 {
  width: 15%;
}

.boxs85 {
  width: 85%;
  background-color: #dae8f0;
  @include border-radius(30px);
}




// other
.borderBig {
  border: 20px solid #dae8f0;
  @include border-radius(40px);
}

.avatar-m {
   height: 5rem;
   width: 5rem; 
}

.backTran {
  background-color: transparent;
  border: 0;
}

.r40 {
  @include border-radius(40px);
}

.py40 {
  padding: 40px 0;
}

.p40 {
  padding: 40px;
}

.pno {
  padding: 0 !important;
}

.tStep {
  display: inline-block;
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  color: $gray-600;

  &.ts_Blue {
    background-color: #376092;
    color: white;
    @include border-radius(40px);
  }

  &.ts_Blue2 {
    background-color: #376092;
    color: white;
    -webkit-border-top-left-radius: 40px;
    -webkit-border-bottom-left-radius: 40px;
    -moz-border-radius-topleft: 40px;
    -moz-border-radius-bottomleft: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }

  &.ts_Blue3 {
    background-color: #376092;
    color: white;
    -webkit-border-top-right-radius: 40px;
    -webkit-border-bottom-right-radius: 40px;
    -moz-border-radius-topright: 40px;
    -moz-border-radius-bottomright: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  &.ts_Blue4 {
    background-color: #376092;
    color: white;
    @include border-radius(0);
  }
}


// link
a {
  outline: 0;
  text-decoration: none;
  display: inline-block;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  text-decoration: none;
}

.btn_menu01 {
  color: $blue-800;
  background-color: $blue-100;
  border-color: $blue-100;

  &:hover {
    color: white;
    background-color: $blue-800;
    border-color: $blue-800;
  }
}

.btn_menu02 {
  color: $blue-800;
  background-color: $red-100;
  border-color: $red-100;

  &:hover {
    color: white;
    background-color: $red-400;
    border-color: $red-400;
  }
}

.btn_menu03 {
  color: $blue-800;
  background-color: $yellow-100;
  border-color: $yellow-100;

  &:hover {
    color: white;
    background-color: $yellow-500;
    border-color: $yellow-500;
  }
}

.btn-add {
  display: inline-block;
  font-size: 1.15rem;
  color: $darkBlue;

  &:hover {
    opacity: .8;
  }

  &:before {
    display: inline-block;
    content: '\f014';
    font-family: icon;
    margin-right: 5px;
  }

  &.add-exl {
    &:before {
      font-size: 1.3rem;
      content: '\ebdb';
      margin-top: -2px;
    }
  }
}

.btn-export {
  display: inline-block;
  font-size: 1.15rem;
  color: $primary;
  line-height: 40px;

  &:hover {
    opacity: .8;
  }

  &:before {
    display: inline-block;
    font-family: icon;
    margin-right: 12px;
    // font-size: 1rem;
  }

  &.exl {
    &:before {
      content: '\f1c3';
    }
  }

  &.pdf {
    &:before {
      content: '\f1c1';
    }
  }
}

.ta-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  color: $primary;
  @include transition(all .3s);
  text-align: center;

  &:hover {
    color: white;
    @include border-radius(30px);
    background-color: $grayBlue;
  }
}



// text
.arNum {
  display: inline-block;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-bottom: 0;

  &:before {
    display: inline-block;
    content: attr(title);
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 22px;
    margin-right: 8px;
  }
}



// all
.mt-10 {
  margin-top: 10px;
}

.lH15 {
  line-height: 1.5;
}

.lH40 {
  line-height: 39px;
}

.h550 {
  height: 550px;
  overflow-y: scroll;
}

.form-dw-auto {
  display: inline-block !important;
  width: auto  !important;
}

.pr-form {
  display: inline-block;
  width: 70px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}



// effect

.tablecheck {}

.tablehover {
  display: none;

  &.tShow {
    display: inline-block;
  }
}

.ttbody {
  max-width: 100%;
  width: 100%;
  display: inline-table;
}

