@import "Ginkgo";

$colorLightBlue: rgba(25, 177, 243, 1.00);
$colorGreyBlue: rgba(185, 214, 231, 1.00);
$mainBlue: #0073e6;

.bgColorLightBlue {
	background-color: $colorLightBlue !important;
}

.bgColorGreyBlue {
	background-color: $colorGreyBlue !important;
}

.colorMainBlue {
	color: $mainBlue !important;
}

.pb-170 {
	padding-bottom: 170px !important;
}