@import "bootstrap/bootstrap";
@import "Ginkgo";


html {
  font-size: 16px;
}

body {
  font-weight: 500;
  font-family:'Roboto', 'Noto Sans TC', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}


// color
.colorWhite {
  color: white;
}

.colorBlue {
  color: $primary;
}

.colorGrey {
  color: $grayBlue;
}



// boot
.breadcrumb {
  background-color: transparent;
  padding: 0;
}




// block
header {
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  height: 70px;
  padding: 0 calc(24px / 2) 0 0;
}

footer {
  display: inline-block;
  width: 100%
}



// boxs
.fullBoxs {
  display: inline-block;
  width: 100%;
}

.centBoxs {
  display: inline-block;
  width: 100%;
  margin-top: -150px;
  @include border-radius(20px);
  background-color: white;
  padding: 20px;
  @include box-shadow(0px 7px 29px 0px rgba(100, 100, 111, 0.2));

  &.nomt {
    margin-top: 0;
  }
}

.boxs680 {
  // display: inline-block;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
}

.boxs915 {
  // display: inline-block;
  width: 100%;
  max-width: 915px;
  margin: 0 auto;
}



// other
 .avatar-sm {
   height: 3rem;
   width: 3rem; 
}



// text
.username {
  display: inline-block;
  line-height: 50px;
  margin-bottom: 0;
  margin-left: 10px;
}

.fs-table {
  font-size: 1.1rem;
  font-weight: 500;
}

.arNum {
  display: inline-block;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-bottom: 0;

  &:before {
    display: inline-block;
    content: attr(title);
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 22px;
    margin-right: 8px;
  }
}



// all
.h150 {
  height: 150px;
}

.lHight13 {
  line-height: 13px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.table_space {
  padding: 0 !important;
}

.border-radius_ta {
  @include border-radius(20px);
  
}

.upload_radL {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.upload_radR {
  border: 1px solid #c7ced5;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bBNo {
  border-bottom: 0;
}



// link
a {
  outline: 0;
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  text-decoration: none;
}

.btn-add {
  display: inline-block;
  font-size: 1.15rem;
  color: $darkBlue;

  &:hover {
    opacity: .8;
  }

  &:before {
    display: inline-block;
    content: '\f014';
    font-family: icon;
    margin-right: 5px;
  }

  &.add-exl {
    &:before {
      font-size: 1.3rem;
      content: '\ebdb';
      margin-top: -2px;
    }
  }
}

.btn-export {
  display: inline-block;
  font-size: 1.15rem;
  color: $primary;
  line-height: 40px;

  &:hover {
    opacity: .8;
  }

  &:before {
    display: inline-block;
    font-family: icon;
    margin-right: 12px;
    // font-size: 1rem;
  }

  &.exl {
    &:before {
      content: '\f1c3';
    }
  }

  &.pdf {
    &:before {
      content: '\f1c1';
    }
  }
}

.ta-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  color: $primary;
  @include transition(all .3s);
  text-align: center;

  &:hover {
    color: white;
    @include border-radius(30px);
    background-color: $grayBlue;
  }
}



// effect
// 行雲・menu 下拉
.cd-accordion-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  
  > label {
    position: relative;
    display: inline-block;
    width: 100%;
    
    padding: 0;
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.active {
      + div {
        display: inline-block;
        z-index: 1111;
      }
    }
  }
  > div {
    position: absolute;
    top: 36px;
    left: 5%;
    display: none;
    background-color: white;
    width: 90%;
    margin: 0;
    

    @include box-shadow(0px 7px 29px 0px rgba(100, 100, 111, 0.2));
    * {
      &:before {
        $color: rgba(134, 144, 162, 1.00); // 第一層分隔線顏色
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        display: inline-block;
        width: 100%;
        height: 1px;
        border-top: 1px solid $color;
      }

      + * {
        &:before {
          content: '';
        }
      }
    }
    label, a {
      position: relative;
      display: inline-block;
      width: 100%;

      height: 44px;
      line-height: 44px;
      padding-left: 30px;
      color: #303841;
      font-weight: 500;
      font-size: 1.2rem;
      cursor: pointer;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      @include transition(color .3s);
      
      &:hover {
        color: $primary;
      }
    }
    label {
      padding-right: 30px;
      &:after {
        $color: rgba(134, 144, 162, 1.00); // 小 icon 顏色
        position: absolute;
        right: 13px;
        top: calc(50% - 10px / 2);
        display: inline-block;
        width: 10px;
        height: 10px;
        border-top: 2px solid $color;
        border-right: 2px solid $color;
        content: '';
        @include rotate(45deg);
        @include transition(transform .3s);
      }
      &.active {
        &:after {
          @include rotate(135deg);
        }
        + div {
          display: inline-block;
        }
      }
    }
    div {
      position: relative;
      display: inline-block;
      width: 100%;
      display: none;
      width: 100%;
      > * {
        padding-left: 45px;
        +  * {
          &:before {
            $color: rgba(174, 225, 255, 1.00); // 第二層分隔線顏色
            border-top-color: $color;
          }
        }
      }
    }
  }
  @include range-width(0, 600px) {
    > div {
      left: 0;
      width: 100%;
      top: 52px;
      label, a {
        padding-left: 12px;
        padding-right: 12px;

        height: auto;
        line-height: 22px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
      }
      label {
        &:after {
          right: 8px;
          top: calc(50% - 8px / 2);
          width: 8px;
          height: 8px;
        }
      }
    }
  };
}

/* CSS Switch */
input {
  &[switch] {
    display: none;

    + label {
      font-size: 1em;
      line-height: 1;
      width: 60px;
      height: 30px;
      background-color: rgba(196, 203, 206, 1.00);
      background-image: none;
      border-radius: 2rem;
      padding: 0.16667rem;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      position: relative;
      font-weight: 500;
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; 

      &:before {
        color: rgba(29, 30, 33, 1.00);
        content: attr(data-off-label);
        display: block;
        font-weight: 500;
        font-size: 13px;
        line-height: 28px;
        position: absolute;
        left: 1px;
        margin: 3px;
        top: -2px;
        text-align: center;
        min-width: 1.66667rem;
        overflow: hidden;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
      }

      &:after {
        content: '';
        position: absolute;
        right: 3px;
        background-color: white;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 2rem;
        height: 25px;
        width: 25px;
        top: 2px;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
      }
    }

    &:checked + label {
      background-color: rgba(67, 211, 89, 1.00);

      &:before {
        color: #fff;
        content: attr(data-on-label);
        left: auto;
        right: 3px;
      }

      &:after {
        right: 33px;
        background-color: white;
      }
    }
  }

  &[switch="bool"] {
    + label {
      background-color: #ec536c;

      &:before {
        color: #fff;
      }
    }

    &:checked + label:before {
      color: #fff;
    }
  }
}






